
.frame {
    border: 0.5mm solid black;
    display:inline-block;
    margin-right: 0.5mm;
}

.card{
    border: 0.5mm solid black;
    height: 65mm;
    width: 120mm;
    margin: 2.5mm;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-small;
}

.v70C:first-of-type {
    background-image: url("volvo-v70-e.jpg");
    background-color: transparent;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.soldierC:first-of-type {
    background-image: url("helfigur-bw.png");
    background-color: transparent;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.imfC:first-of-type {
    background-image: url("imf-bw.jpg");
    background-color: transparent;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.top-text{
    text-align: center;
}

.subcard{
    margin: 1mm;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-small;
    display: inline-block;
}

.ruler{
    height: 50mm;
    width: 10mm;
    float: right;
    position: relative;
    bottom: 0;
}

.cm{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: 0.5mm solid black;
    border-left: 0.5mm solid black;
    height: 10mm;
    width: 10mm;
}

.last-cm {
    border-bottom: 0.5mm solid black;
}